
  <h3>Manage your tasks</h3>

  <%= link_to new_group_task_path do %>
    <i class="fa-solid fa-square-plus fa-2xl" style="color:#DF6C4F" ></i>
  <% end %>


  <h2>Upcoming</h2>
    <div class="container d-flex justifycontent-between">
      <% @upcoming_tasks.each do |task| %>
        <div class="row"><li><%= task.name %> <%= task.deadline %> <%= task.user_id %></div>
      <% end %>
    </div>


  <h2>Backlog</h2>

      <% @missed_tasks.each do |task| %>
          <div class="container d-flex justifycontent-between">
        <div class="row"><li><%= task.name %> <%= task.deadline %> <%= task.user_id %></div>
            </div>
      <% end %>
