<h1>Here you can create a new Task</h1>

<%= simple_form_for [@group,@task] do |f| %>
  <%= f.input :name %>
  <%= f.association :user, label_method: :id %>
  <%= f.input :done %>
  <%= f.input :urgent %>
  <%= f.input :comments %>
  <%= f.input :deadline %>
  <%= f.input :recurring %>
  <%= f.input :recurrence %>
  <%= f.submit %>
<% end %>

<%# <%= link_to "Tasks Dashboard", group_tasks_path %> %>
