<h1>Here you can see your new created task</h1>





    <div class="card-tasks-show d-flex flex-column">

        <div class="card-show-d d-flex justify-content-center"><%= render "shared/current_user_index_avatar" %></div>
        <div class="card-show-a al d-flex justify-content-center"><%= @task.deadline.strftime("%d.%m.%Y") %></div>
        <div class="card-show-c d-flex justify-content-center"><%= @task.name %></div>
        <div class="card-show-c d-flex justify-content-center"><%= @task.comments %></div>
        <div class="card-show-d d-flex justify-content-center"><%=  %></div>


    </div>




      <div>
        <%= link_to "See all tasks", group_tasks_path, :class => "btn btn-primary" %>
      </div>
