<h2>Add your Expense</h2>

<%= simple_form_for [@group, @fixed_cost] do |f| %>
  <%= f.input :name, required: true%>
  <%= f.association :user, label_method: :id, required: true%>
  <%= f.input :comments %>
  <%= f.input :price %>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
