<div class="container mt-5">
  <h2>Add your Expense</h2>

  <%= simple_form_for [@group, @fixed_cost] do |f| %>
    <%= f.input :name,  required: true%>
    <%= f.association :user, collection: @user_profiles, label_method: :first_name, placeholder: "Pick a housemate", required: true, label: "Paid By"%>
    <%= f.input :comments%>
    <%= f.input :expense_type,  collection: ["Internet", "Subscription", "Rent", "TV-Licence", "Heating", "Electrcity", "Water"]%>
    <%= f.input :price, required: true%>
    <%= f.submit :class => "btn btn-primary ml-5"%>
  <% end %>
</div>
