<div class="container-init">
      <div class="plus-wrapper">
        <%# <%= link_to group_bought_items_path do %>
        <%= link_to new_item_group_shopping_lists_path  do %>
          <i class="fa-solid fa-square-plus fa-2xl" style="color:#23c560; text-align:center; font-size:50px"></i>
         <% end %>
      </div>
  <div class="container-form">
    <%= simple_form_for :category, url: new_group_shopping_list_path(), method: :get do |f| %>
      <%= f.input :category, legend_tag: false,
                as: :check_boxes,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector rounded', multiple: true },
              # collection: @product
              collection: @products.map {|product|[product.name, product.id, style:"background-image:url(#{image_path "icons/png/#{product.name.downcase}.png"})"]} %>
      <div class="container-end">
        <%= f.submit "Check Basket", class:"container-basket"%>
      </div>
    <% end %>
  </div>
</div>



<%# <%= image_tag 'icons/milk.svg', width: 25, height: 25 %>
<%# collection: @product.map {|product|
            #    [product.name,product.id,
            #    image_tag:url(#{image_path "icons/#{product.name.downcase}.svg"})"]}%>
